.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 24px 0;
    border-top: 1px solid;
}

.tel{
    margin: 0px 16px;
}

.content{
    flex: 1;
}

@keyframes example {
    0%   {opacity: 1}
    50%  {opacity: .5}
    100% {opacity: 1}
  }

.indicator{
    height: 16px;
    width: 16px;
    animation: example 2s infinite;
    display: block;
    border-radius: 50%;
    margin-right:  8px;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}


.hilfsmittel{
    flex-basis: 100%;
    margin-top: 8px;
}


.indicatorWrapper{
    display: flex;
    padding: 4px 0;
    align-items: center;
}