.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 24px 0;
    border-top: 1px solid #ccc;
}

.tel{
    margin: 0px 16px;
}

.content{
    flex: 1;
}

@keyframes example {
    0%   {opacity: 1}
    50%  {opacity: .5}
    100% {opacity: 1}
  }

.indicator{
    height: 16px;
    width: 16px;
    animation: example 2s infinite;
    display: block;
    border-radius: 50%;
    margin-right:  8px;
}

.offer, .ok, .need{
    display: flex;
    align-items: center;
}
.offer :global(.MuiSlider-thumb){
    border: 2px solid green;
    background: #fff; 
       width: 14px !important;
    height: 14px !important;
    margin-top: -6px !important;
    margin-left: -7px !important;
}

.ok :global(.MuiSlider-thumb){
    border: 2px solid orange;
    background: #fff;
    width: 14px !important;
    height: 14px !important;
    margin-top: -6px !important;
    margin-left: -7px !important;
}

.need :global(.MuiSlider-thumb){
    border: 2px solid #f00;
    background: #fff;
    width: 14px !important;
    height: 14px !important;
    margin-top: -6px !important;
    margin-left: -7px !important;
}


.hilfsmittel{
    flex-basis: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}


.indicatorWrapper{
    display: flex;
    padding: 4px 0;
    align-items: center;
}


.label{
    width: 35%;
}

.button{
    text-align: center;
}